.pagination {
  display: flex;
  justify-content: center;
  column-gap: 7px;
  margin-top: 18px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid #7209B7;
    width: 20px;
    height: 30px;
    border-radius: 5px;
    transition: 200ms ease-in-out;
    cursor: pointer;
    
    &:hover {
      background-color: #7209B7;
    }
    
    &.active {
      background-color: #7209B7;
    }
  }
}