.catalog {
  background-color: #170441;
  min-height: calc(100vh - 60px);
  color: #ffffff;
  padding-top: 48px;

  .search-results {
    font-size: 32px;
  }

  .catalog-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-top: 32px;
    justify-content: space-between;
  }
}