.header {
  background-color: #300789;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 60px;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .title {
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
  }

  .search-bar {
    font-size: 16px;
    color: #000000;
    height: 34px;
    padding: 16px 7px;
    max-width: 610px;
    width: 100%;
  }

  .user {
    position: relative;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 170px;

    span {
      white-space: nowrap;
    }

    .user-modal {
      display: none;
      position: absolute;
      top: 120%;
      z-index: 10;
      right: 0;
      padding: 10px;
      background-color: black;
      width: 100%;

      ul {
        list-style-type: none;
      }
      &.active {
        display: block;
      }
    }
  }

  @media (max-width: 650px) {
    .container {
      flex-direction: column;
      padding: 10px;

      .user {
        margin-left: auto;
      }
    }
  }
}