.movie {
  background-color: #300789;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__image {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  &__information {
    padding: 16px;
    p {
      font-size: 16px;
      margin-bottom: 1rem;
    }
  }
}